<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <title>BeeTRI Portal</title>
  </head>
  <body>
    <title>BeeTRI</title>
    <!--[if lt IE 9]><script src=http://html5shiv.googlecode.com/svn/trunk/html5.js></script><![endif]-->
    <!--[if lt IE 9]><link href=ie.css rel=stylesheet /><![endif]-->
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Sci-Solve</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-sm-12" style="margin-top: 5em;">
        <img src="/static/images/logo2.PNG" alt="BeeTRI" width="600">
      </div>
    </div>
    
	<div class="row">

      <div class="col-md-8">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Hive Monitoring</h3>
            </div>
            <div class="panel-body">
              <iframe src="http://testy--sparky--sparky-shipped--00a8a8.gce.shipped-cisco.com/#/messages/Y2lzY29zcGFyazovL3VzL1JPT00vYjViM2ZiYTAtNDVmZS0xMWU2LWFkODAtZjEzODE5Zjc5ZDYy" style="width:100%; height: 33em;"></iframe>
            </div>
          </div> 
        </div>

        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Global Hive Status</h3>
            </div>
            <div class="panel-body">
              <iframe src="https://app.site1.ciscozeus.io/public/#/dashboard/BeeTRI?embed&_a=(filters:!(),panels:!((col:1,id:Events-Per-Day-by-Country,row:1,size_x:12,size_y:2,type:visualization),(col:1,id:Number-of-bees-per-site,row:4,size_x:12,size_y:2,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:BeeTRI)&_g=(time:(from:now-5y,mode:quick,to:now))" style="width:100%; height:32em;"></iframe>
            </div>
          </div> 
        </div>

      </div> <!-- Main Body -->

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">References</h3>
          </div>
          <div class="panel-body">
            <a href="http://beetri--beetri--jupyter-hackathon--38f832.gce.shipped-cisco.com/tree#">Data Analysis Platform</a>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">My Hive</h3>
          </div>
          <div class="panel-body">
            <script id="6fa6bf03-519a-49dd-9428-5b92348ff676">var sId="6fa6bf03-519a-49dd-9428-5b92348ff676",iframe=document.createElement("iframe");iframe.width="250";iframe.height="900";iframe.src="//developer.relayr.io/dashboard/snippet/10c5b272-1979-4f13-97be-b27103daea74:3b383d97-8287-4a95-8bc6-c4cfeb5ddc6a!c0N6D8tLWXuB!,v1,5baa2875-cf0d-4981-b24b-96346175b53a!5ae0f19a-4b7d-492d-967f-e0b61bccc01c!Hackathon Hive";iframe.id="s-"+sId;iframe.frameBorder=0;document.body.appendChild(iframe);document.getElementById(""+sId).parentNode.appendChild(iframe);function aSize(a,b){document.getElementById("s-"+b).style.height=a+"px"};</script>
          </div>
        </div>
      </div> <!-- Sidebar -->

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Hives Around the World</h3>
            </div>
            <div class="panel-body">
              <iframe src="http://beetri--beetri--merakicmxapi--8dfa17.gce.shipped-cisco.com/" style="width:100%;height:32em"></iframe>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- Top section -->

  </div> <!-- Content -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
